 div {
 
    width: 600px;
    color: #fff;
    border: 2px solid #fff;
    margin: 0 10px;
    border-radius: 5px;
    box-sizing: border-box;
    
 }

 :hover {
        background: rgba(255,255,255,0.2);
        transition:  background-color 1.1s easy-in-out;


    }